body{
    background-image: linear-gradient(rgba(5, 7, 12, 0.25), rgba(5, 7, 12, 0.25)), url(./img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.titleHome {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    /* font-style:initial; */
    font-size: 20px;
    color: rgb(13, 16, 16);                                            
}

.main-container{
    background: rgba(5, 7, 12, 0.18);
    background-position: center center;
    width: 375px;
    margin: auto;
}
.main-container__background-section{
    background-image: url(./img/fondo-card.jpg);
    background-repeat: no-repeat;
    height: 240px;
    position: relative;
}
.main-container__form-section{
    padding: 90px 24px 45px;
}

.card{
    font-family: monospace;
    font-size: 1.10em;
    color: aliceblue;
    width: 300px;
    height: 153px;
    padding: 20px;
    background-image: url(./img/card_front.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 3%;
    top: 126px;
    left: 60px;
}

.card-reverse{
    font-family: monospace;
    font-size: 1.10em;
    color: aliceblue;
    height: 160px;
    padding: 12px;
    background-image: url(./img/card_back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.card-reverse__cvv{
    margin-top: 75px;
    text-align: right;
    padding-right: 50px;
}

.form__label{
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.70em;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 8px;
    color: black;
    font-weight: bold;
}
.form__input{
    width: 100%;
    height: 25px;
    margin-bottom: 18px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.80em;
    border: 1px solid;
    padding-left: 10px;
    outline: none;
}
.numberMonth, .numberYear{
    width: 100%;
    height: 29px;
    margin-bottom: 18px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.80em;
    border: 1px solid;
    padding-left: 10px;
    outline: none;
}
.form__date-cvv{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0 16px;
}
.form__date{
    display: flex;
    gap: 10px;
}
.button{
    width: 100px;
    height: 30px;
    display: inline-block;
    margin-top: 10px;
    background-color: rgb(126, 208, 222);
    border: 1px solid;
    border-radius: 4px;
}
.buttonReturn {
    width: 100px;
    height: 30px;
    border: 1px solid;
    border-radius: 4px;
}
.buttonDiv, .invalidDiv, .validCard {
    text-align: center;
}
.details {
    margin: 0 auto;
    background:rgb(239, 239, 239);
    width: 400px;
    height: 120px;
    padding: 20px 0px;
}
.buttonBack {
    width: 120px;
    height: 25px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 4px;
}

